{% extends "base.html" %} {% load crispy_forms_tags %}

{% block content %}
        <hr class="my-4">
        <div class="row">
            <div class="col m-12 text-center">
                <h5><i class="fa-regular fa-clock"></i> Opening Ours</h5>
                <p>
                    Monday to Friday: 11am - 15pm<br />
                    Saturday & Sunday: 10am - 17pm<br />
                    Bank Holidays: 10am - 17pm<br />
                </p>
                <br />
                <h5><i class="fa-solid fa-location-dot m-12 text-center"></i> Location</h5>
                <p>
                    27, Manor Street
                    Dublin - Ireland
                </p>
                <div class="google-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.464840995459!2d-6.286657822927103!3d53.35283537423745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670c2d7d87930d%3A0x686558f377a62757!2s27%20Manor%20St%2C%20Stoneybatter%2C%20Dublin%207%2C%20D07%20NPV0!5e0!3m2!1spt-BR!2sie!4v1697530148768!5m2!1spt-BR!2sie"
                        width="400" height="200" style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
        </div>
{% endblock content %}