{% extends "base.html" %} {% load crispy_forms_tags %}

{% block content %}
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <a href="{% url 'home' %}">
            <div class="col m-1 mx-auto btn btn-primary">
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>
                Home
            </div>
        </a>
        <hr class="my-4">
        <div class="row">
            <h3 class="col-md-12 text-center">Have a Project in mind?</h3>
                <br><h4 class="col-md-12 text-center">Send us a message!</h4>
            <br>
            <br>
            <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.last_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.phone_number|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.message|as_crispy_field }}</div>
            <button type="submit" class="btn btn-primary offset-md-4">Send Message</button>
        </div>
{% endblock content %}