{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <h3 class="col-md-12 text-center">Have a Project in mind?</h3>
            <br>
            <h4 class="col-md-12 text-center">Send us a message!</h4>
            <br>
            <br>
            <!--Defining what will be rendered from forms to the page-->
            <div class="col-md-6">{{ form.first_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.last_name|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.phone_number|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
            <div class="col-md-12">{{ form.message|as_crispy_field }}</div>
            <button type="submit" class="btn btn-primary ml-3">Send Message</button>
        </div>
    </form>
    {% endblock content %}