{% extends "base.html" %}

{% block content %}
        <table class="table table-boderless table-responsive">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Qnt</td>
                    <td>Name</td>
                    <td>Status</td>
                    <td>
                        <a href="{% url 'neworder' %}" class="btn btn-sm btn-outline-success">
                            <i class="fa-regular fa-square-plus"></i> New Order
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for order in orders_list %}
                    <tr>
                        <td>{{ order.date }}</td>
                        <td>{{ order.time }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.first_name }} {{ order.last_name }}</td>
                        {% if order.status == 0 %}
                            <td> Pending </td>
                        {% else %}
                            <td> Approved </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'orderupdate' order.id %}" class="btn text-secondary px0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                            <form action="{% url 'deleteorder' order.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="far fa trash-alt fa-lg text-danger float-right"></i>
                                    <i class="fa-solid fa-trash-can fa-lg text-danger float-right"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
{% endblock content %}